
h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
button{
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
}
a{
    text-decoration: none;
}
body{
    background: linear-gradient(rgb(226, 216, 216),rgb(194, 178, 34));
}