
h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
.gh{
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
}
a{
    text-decoration: none;
}
.hg{
    background-color: bisque;
    font-size: 20px;
}

input{
    background-color: rgb(0, 174, 255);
    font-size: 20px;
}

hg:hover{
    background-color: rgb(255, 0, 0);
}

@keyframes bodyColor{
    0%{ background-color: red;}
    10%{ background-color: yellow;}
    20%{ background-color: rgb(47, 0, 255);}
    30%{background-color: rgb(234, 0, 255);}
    40%{background-color: rgb(192, 117, 88);}
    50%{background-color: aqua;}
    60%{background-color: rgb(0, 255, 21);}
    70%{background-color: black;}
    80%{background-color: green;}
    100%{background-color: rgb(255, 0, 0);}
}

body {
    height: auto;
    margin: 0;
    animation: bodyColor 4s infinite;
}

h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}

.zx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b{
    width: 325px;
    min-height: 300px;
    background: linear-gradient(rgb(255, 0, 0), blue);
    color: bisque;
    padding: 10px;
    box-sizing: border-box;
}

.msg{
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}


.kl{
    margin-left: 10px;
}
