h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
.gh{
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
}
a{
    color: aqua;
}
.hg{
    background-color: rgb(255, 0, 191);
    font-size: 20px;
}

input{
    background-color: rgb(0, 174, 255);
    font-size: 20px;
}

.gh:hover{
    background-color: antiquewhite;
    
}

body {
    height: auto;
    margin: 0;
    background-color: rgb(36, 32, 32);
}

h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}

.zx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b{
    width: 325px;
    min-height: 300px;
    background: linear-gradient(rgb(255, 0, 0), blue);
    color: bisque;
    padding: 10px;
    box-sizing: border-box;
}

.msg{
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}


.kl{
    margin-left: 10px;
}
.gh{
    box-shadow: 10px 10px 100px rgb(5, 255, 5);
}


.kl{
    margin-left: 10px;
}

