h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
button{
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
    box-shadow: 10px 10px 50px red;
}
a{
    color: red;
}
p{
    margin-left: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(red,black); 
}
h2{
    font-size: 40px;
    color: greenyellow;
}
body{
    background-color: rgb(32, 32, 29);
}
img{
    width: 400px;
    height: 450px;
    margin-left: 500px;
}
button:hover{
    background-color: rgb(245, 224, 224);
}
