
h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
.gh{
    margin-top: 101px;
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
}
a{
    text-decoration: none;
}
.all{
    background-color: aqua;
    border: 10px solid greenyellow;
}
.top{
    padding-left: 415px;
}
.bottom{
    padding-left: 415px;
    padding-top: 240PX;
    padding-bottom: 10px;
}
.left{
    padding-left: 417px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.right{
    padding-left: 915px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.kl{
    font-size: 30PX;
}
body{
    background-color: rgb(4, 0, 255);
}
.lol{
    width: 80px;
    height: auto;
}
.a{
    background-color: antiquewhite;
    height: auto;
    margin-left: 200px;
    width: 250px;
    position: absolute;
}
.b{
    background-color: antiquewhite;
    height: auto;
    margin-left: 1000px;
    margin-right: 100px;
}
button{font-size: 30px;}


