body{
    background-color: rgb(32, 30, 30);
}
.gh{
    margin-top: 40px;
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
}
img{
    width: 400px;
    height: 450px;
}
h1{
    font-size: 50px;
    margin-left: 300px;
    animation: aaban 4s infinite;
}
@keyframes aaban{
    0%{color: rgb(255, 0, 0)}
    15%{color: rgb(255, 217, 0)}
    40%{color: rgb(30, 255, 0)}
    60%{color: rgb(0, 174, 255)}
    80%{color: rgb(0, 4, 255)}
    99%{color: rgb(255, 0, 212);}
}
a{
    color: rgb(226, 10, 10);
}
button:hover{
    background-color: rgb(245, 224, 224);
}
button{
    box-shadow: 10px 10px 50px rgb(43, 255, 0);
}




