
h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
button{
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
    box-shadow: 10px 10px 100px red;
}
a{
    color: red;
}
body{
    background-color: rgb(26, 23, 23);
}
.p{
    padding-bottom: 15%;
}
p{
    font-size: 20px;
    color: rgb(0, 255, 21);
    margin-left: 30px;
}
h2{
    font-size: 50px;
    color: rgb(238, 255, 0);
    font-weight: 50;
    margin-left: 30px;
}    
button:hover{
    background-color: rgb(245, 224, 224);
}

