
h1 {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(163, 83, 163), white);
}
button{
    font-size: 60px;
    margin-left: 20px;
    background-color: black;
    box-shadow: 10px 10px 100px red;
}
a{
    color: red;
}
body{
    background-color: black;
}
h2{
    font-size: 50px;
    color: rgb(238, 255, 0);
    font-weight: 50;
    margin-left: 30px;
}    
button:hover{
    background-color: rgb(245, 224, 224);
}
.box{
    width: 1000px;
    height: auto;
    border: 1px solid green;
    margin-left: 150px;
    border-radius: 200px;
    box-shadow: 0px 0px 20px 20px green;
    background-color: rgb(31, 32, 32);
    margin-bottom: 80px;
}
.writeing_thing{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-left: 110px;
}

